h1 {
  background-color: #042940;
  color: white;
}

#intro {
  background-color: #005C53;
  color: white;
}

#questions {
  display: none;
  background-color: #9FC131;
  color: black;
}
